ol.commentlist {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;

  .comment-meta {
    .comment-author {
      b.fn {
        margin-left: 5px;
      }
    }
  }

  .comment-content {
    p {
      margin-bottom: 10px;
    }
  }

  .children {
    list-style: none;
  }
}
