.pages {
  .page-numbers {
    @extend .pagination;
    margin-right: 5px;

    &.current, &.current:hover {
      background-color: $color-pigeon-post;
      border-color: $color-pigeon-post;
      font-weight: 700;
      color: $color-white;
    }
  }
}
