.ig_popup {
  max-width: 600px;

  .ig_message {
    p {
      display: block;
    }
  }

  .ig_headline {
    color: $color-pale-sky !important;
  }

  .ig_form_els .ig_button {
    background-color: $color-pigeon-post !important;
  }

  .ig_form_container {
    background-color: $color-pale-sky !important;
    padding: 20px;
    margin-top: 25px;
  }
}
