@import "variables";

#sidebar {
  @media (min-width: $screen-sm-min) {
    padding-left: 20px;
  }

  .widget-title {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  form {
    > label {
      display: block;

      > span {
        display: none;
      }

      > input[type="search"] {
        font-size: 16px;
        width: 100%;
        height: 50px;
        border: 1px solid $color-nobel;
        padding-left: 10px;
      }
    }

    > input[type="submit"] {
      display: none;
    }
  }

  section {
    padding-bottom: 30px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 12px 30px;
      background-color: $color-snow-drift;
      color: $color-pale-sky;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 10px;

      a {
        color: $color-pale-sky;
      }
    }
  }

  .sb_instagram_header {
    display: none;
  }
}
