@import "variables";
@import "partials/sidebar";
@import "partials/paginations";
@import "partials/comments";
@import "partials/popup";

#content {
  margin-top: 80px;

  .featured-post {
    .content {
      padding-top: 30px;
    }
  }

  .featured-image {
    img {
      width: 100%;
    }
  }

  .meta {
    display: block;
    color: $color-nobel;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  a.pagelink {
    text-decoration: none;

    h3 {
      color: $color-emperor;
    }
  }

  .content p {
    display: block;
  }

  .woocommerce {
    margin-bottom: 20px;
  }
}

#about {
  background-color: $color-pale-sky;
  background-image: url(../image/about-flower.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 90%;
  padding: 15px 0;
  color: $color-white;
  @media (min-width: $screen-sm-min) {
    padding: 60px 0;
  }
  @media (min-width: $screen-md-min) {
    padding: 110px 0;
  }

  .profile-container {
    margin-right: 50px;
    margin-bottom: 25px;
    max-height: 630px;
    overflow: hidden;
    float: left;
    width: 45%;

    img {
      width: 100%;
    }
  }

  .profile-content {
    // margin-left: 25px;

    h2 {
      font-weight: 400;
      text-transform: uppercase;
      margin: 0 0 20px;
      font-size: 36px;

      @media (min-width: $screen-md-min) {
        margin-top: 40px;
        margin-bottom: 55px;
      }
    }

    p {
      display: block;
    }
  }
}

#featured-book {
  text-align: center;
  color: $color-emperor;
  padding-top: 90px;
  padding-bottom: 130px;

  h2 {
    font-size: 48px;
  }

  h3 {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
  }

  .book-information {
    padding: 55px 90px 40px;
    background-color: $color-snow-drift;
  }

  .img {
    margin-right: 20px;

    img {
      width: 100%;
    }
  }
}

.single #content {
  margin-top: 0px;

  .featured-image {
    margin: 50px 0;
  }

  p {
    margin-bottom: 30px;
  }

  .addtoany_header {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .about-author {
    background-color: $color-snow-drift;
    padding: 30px;
    margin-bottom: 40px;

    .author {
      display: block;
      font-size: 24px;
    }

    p {
      font-size: 14px;
      margin: 0;
      line-height: 2;
    }
  }

  .post-navigation {
    padding: 10px 0 30px;

    .screen-reader-text {
      display: none;
    }

    .nav-links {
      font-size: 24px;
      &:after {
        display: block;
        content: "";
        clear: both;
      }

      .nav-next,
      .nav-previous {
        width: 49%;

        &:before {
          display: block;
          font-size: 16px;
          color: $color-nobel;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
      .nav-previous {
        float: left;

        &:before {
          content: "Previous";
        }
      }

      .nav-next {
        float: right;
        text-align: right;

        &:before {
          content: "Next";
        }
      }

      a {
        color: $color-emperor;
        text-decoration: none;
      }
    }
  }

  .comment-respond {
    background-color: $color-snow-drift;
    padding: 20px 50px 10px;
    margin-bottom: 30px;

    form > p {
      display: block;
      margin-bottom: 20px;

      &.form-submit {
        margin: 0px;
      }

      label {
        display: block;
        text-transform: uppercase;
        color: $color-silver-chalice;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        border: none;
        padding: 5px 10px;
      }

      textarea {
        height: 90px;
      }

      input[type="text"],
      input[type="email"] {
        height: 40px;
      }
    }
    .comment-notes {
      font-size: 14px;
    }
  }

  &.page {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.archive #content {
  margin-top: 0px;
}

.blog #content {
  margin-top: 0px;
}

.page-fullwidth {
  text-align: center;

  .contact-form {
    background-color: $color-snow-drift;
    text-align: left;
    margin: 50px 0;
    padding: 20px 50px 10px;

    h2 {
      font-weight: 400;
    }

    input[type="text"], textarea {
      font-size: 16px;
      border-radius: 0;
      border: transparent;
      padding: 10px 15px;
      height: auto;
    }
  }
}
