@import "variables";

#footer {
  background-color: $color-snow-drift;
  border-top: 10px solid $color-pigeon-post;
  padding: 20px 0;
  font-size: 16px;
  @media (min-width: $screen-md-min) {
    padding: 100px 0;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-emperor;
    line-height: 1;
    margin: 0 0 25px;
  }

  .section-address {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 10px solid $color-pigeon-post;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 0px;
      padding-bottom: 0px;
      border-bottom: none;
    }

    .site-name {
      font-size: 37px;
      line-height: 1;
      margin-bottom: 15px;

      @media (min-width: $screen-sm-min) {
        margin-bottom: 25px;
      }
    }

    .address p {
      margin-bottom: 0px;
    }

    .social-media {
      margin-left: -13px;
      @media (min-width: $screen-sm-min) {
        margin-top: 20px;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        &:after {
          content: "";
          display: block;
          clear: both;
        }

        li {
          float: left;

          a {
            display: block;
            color: $color-pigeon-post;
            text-decoration: none;
            padding: 10px 13px 8px;
            font-size: 27px;
            &:hover {
              color: $color-pale-sky;
            }
          }
        }
      }
    }
  }

  .section-contact {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 10px solid $color-pigeon-post;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 0px;
      padding-bottom: 0px;
      border-bottom: none;
    }

    textarea {
      height: 100px;
    }

    textarea,
    input[type="text"] {
      border: none;
      border-radius: 0px;
      font-size: 16px;
      padding: 10px 15px;
      font-weight: 700;
    }

    input[type="text"] {
      height: 40px;
    }

    input[type="submit"] {
      min-width: 135px;
      @media (max-width: $screen-xs-max) {
        margin: 0;
      }
    }
  }

  .section-popular {
    text-transform: uppercase;

    .img {
      max-height: 75px;
      overflow: hidden;
      margin-bottom: 10px;

      img {
        width: 100%;
      }
    }

    .title {
      display: block;
      margin-bottom: 5px;
      color: $color-dove-gray;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .date {
      color: $color-dove-gray;
    }
  }

  .footer-myaccount {
    @media (min-width: $screen-sm-min) {
      margin-top: 20px;
    }
  }
}
