@import "variables";

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.7;
}

a {
  transition: .35s;
}

p {
  font-size: 16px;
  display: inline-block;
}

h1, h2, h3 {
  text-transform: uppercase;
}

article {
  color: $color-emperor;
  padding-bottom: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

h1.page-title {
  font-size: 48px;
  font-weight: 400;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px 6px;
  margin: 25px 0;
  text-transform: uppercase;

  &.btn-primary {
    background-color: $color-pigeon-post;
    border-color: $color-pigeon-post;
    color: $color-white;
  }
}

.alignleft {
  float: left;
  margin-right: 20px;
}

.alignright {
  float: right;
  margin-left: 20px;
}
