@import "variables";

header {
  &.header-navigation {
    background-color: $color-pigeon-post;
    color: $color-white;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    &:after {
      content: "";
      display: block;
      clear: both;
    }

    li {
      float: left;

      a {
        display: block;
        color: $color-white;
        text-decoration: none;

        &:hover {
          text-decoration: none;
          color: $color-pale-sky;
        }
      }
    }
  }

  .main-navigation {
    ul {
      float: left;
      font-weight: 700;
      font-size: 18px;
      margin-left: -25px;

      a {
        padding: 15px 10px 15px;
        text-transform: uppercase;
        @media (min-width: $screen-md-min) {
          padding: 15px 25px 15px;
        }
      }
    }
  }

  .social-media {
    ul {
      float: right;
      font-size: 25px;
      margin-right: -13px;

      a {
        padding: 10px 13px 8px;
      }
    }
  }
}

.site-logo {
  text-align: center;
  display: table;
  width: 100%;
  min-height: 230px;

  > .site-name {
    position: relative;
    display: table-cell;
    vertical-align: middle;

    &:before,
    &:after {
      width: 271px;
      height: 134px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:before {
      content: url(../image/flower-left.png);
      left: 0;
    }

    &:after {
      content: url(../image/flower-right.png);
      right: 0;
    }
  }

  span {
    font-size: 72px;
  }
}

.site-name span {
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;

  &:nth-child(1) {
    color: $color-pigeon-post;
  }

  &:nth-child(2) {
    color: $color-pale-sky;
  }
}

.banner {
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
