$color-white: #ffffff;
$color-pigeon-post: #a9c7d7;
$color-pale-sky: #657083;
$color-emperor: #555555;
$color-nobel: #b4b4b4;
$color-snow-drift: #f3f6f0;
$color-dove-gray: #686868;
$color-silver: #b9b9b9;
$color-silver-chalice: #a0a0a0;

$font-family: 'Poppins', sans-serif;
$font-family-arial: Arial, 'Helvetica Neue', Helvetica, sans-serif;
