@import "variables";

.archive {
  .woocommerce-products-header {
    padding-bottom: 20px;
  }

  &.woocommerce {
    .products {
      color: $color-emperor;
      margin-bottom: 25px;

      img {
        width: 100%;
      }

      a {
        color: $color-emperor;
        text-decoration: none;

        &.button {
          @extend .btn-primary;
        }
      }

      h3 {
        font-weight: 300;
      }
    }
  }
}

.woocommerce {
  .price {
    color: $color-emperor;
    font-family: $font-family-arial;
    font-size: 24px;
    font-weight: 700;
    display: block;
  }

  .button,
  .added_to_cart {
    margin: 10px 0 25px;
    @extend .btn;
  }

  button.button.alt,
  .button {
    @extend .btn-primary;
  }

  .added_to_cart {
    @extend .btn-default;
    font-size: 100%;
    margin: 0;
  }

  .star-rating {
    font-size: 20px;
    color: $color-pale-sky;

    &:before {
      color: $color-pale-sky;
    }
  }

  .woocommerce-product-rating {
    .star-rating {
      margin-top: 4px;
    }

    .woocommerce-review-link {
      color: $color-pale-sky;
      font-size: 16px;
      font-weight: 700;
    }
  }

  div.product {
    margin-top: 55px;

    p.price {
      @extend .price;
    }

    .woocommerce-tabs .panel {
      box-shadow: none;
    }
  }

  .single-products {
    margin-bottom: 20px;
  }

  #reviews {
    h3 {
      @extend .h3;
    }

    #comments {
      ol.commentlist {
        padding: 0;
        margin-top: 20px;

        li {
          .comment-text {
            background-color: $color-snow-drift;

            .meta {
              font-size: 14px;
              color: $color-silver;
            }
          }
        }
      }
    }
  }

  #review_form {
    padding: 20px 40px;
    background-color: $color-snow-drift;

    .form-submit input#submit {
      @extend .btn;
      @extend .btn-primary;
    }

    #respond p.stars {
      font-size: 20px;
      vertical-align: top;
      margin-left: 10px;
      margin-bottom: 0px;
    }
  }

  form .form-row {
    @extend .form-group;
    display: block;
    width: 100%;
    float: none;

    input.input-text, textarea {
      @extend .form-control;
    }

    .checkbox {
      padding-left: 20px;

      .input-checkbox {
        position: absolute;
        left: 0px;
        top: 30%;
      }
    }
  }

  .woocommerce-pagination {
    @extend .pages;

    ul {
      border: none;

      li {
        border: none;
      }
    }
  }
}
